main{
    display: flex;
    font-family: Helvetica, monospace;
}

#header{
    height: 20%;
    padding: 6px;
    border: 2px dotted black;
}

#content{
    height: 200px;
    border: 2px dotted black;
    padding: 6px;
}

#footer{
    height: 10%;
    padding: 6px;
    border: 2px dotted black;

}

#search-box{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border: 1px solid orangered;
    width: 200px;
}