

#header{
    height: 20%;
    padding: 6px;
    border: 2px dotted black;
}

#content{
    height: 200px;
    border: 2px dotted black;
    padding: 6px;
}

#footer{
    height: 10%;
    padding: 6px;
    border: 2px dotted black;

}