body{
    display: flex;
    color: rebeccapurple;
    background-color: black;
}

#header{
    align-items: flex-start;
    color: orange;
}

#content{
    align-items: center;
}

#footer{
    align-items: flex-end;
}